<div class="{% if class %}{{ class }}__item {% endif %}product-item {{ mod }} js-product-list-item">
    <div class="product-item__img">
        <a href="{{ url.productShow }}"><img class="js-img-lazy" src="assets/images/pixel.png" data-src="{{ item.img }}" alt="{{ item.title }}" title="{{ item.title }}"></a>
        <a class="product-item__title" href="{{ url.productShow }}">{{ item.title }}</a>
    </div>
    <div class="product-item__info">

    </div>
    <div class="product-item__footer">
        <div class="product-item__count">
            <input class="js-custom-number" type="text" pattern="^[ 0-9]+$" value="1">
        </div>
        <button class="product-item__btn-buy">В запрос</button>
    </div>
</div>