<div class="{% if class %}{{ class }}__item {% endif %}product-item">
    <div class="product-item__img">
        <a href="{{ url.productShow }}"><img src="{{ item.img }}" alt="{{ item.title }}" title="{{ item.title }}"></a>
    </div>
    <a class="product-item__title" href="{{ url.productShow }}">{{ item.title }}</a>
    <div class="product-item__info">
        <div class="product-item__info-item">
            <div class="product-item__info-title">Категория</div>
            <div class="product-item__info-value">{{ item.category }}</div>
        </div>
        <div class="product-item__info-item">
            <div class="product-item__info-title">Код производителя</div>
            <div class="product-item__info-value">{{ item.code }}</div>
        </div>
    </div>
    <div class="product-item__footer">
        <div class="product-item__count">
            <input class="js-custom-number" type="text" pattern="^[ 0-9]+$" value="1">
        </div>
        <button class="product-item__btn">В запрос</button>
    </div>
</div>